@model IEnumerable<Futbol.Noticia>

@{
    ViewBag.Title = "Noticias";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h2>Noticias</h2>
@ViewBag.IdTorneoCliente
<h2>Noticias</h2>

<div class="courses-area">
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="courses-inner res-mg-b-30">
                        <div class="courses-title">
                            <a href="#"><img class="img-noti" src="@Url.Content(item.Imagen.imagen_path)" alt=""></a>
                            <h2>@item.noticia_titulo</h2>
                        </div>
                        <div class="course-des">
                            <p><span><i class="fa fa-clock"></i></span> <b>Descripción:</b></p>
                            <p>@item.noticia_descripcion</p>
                        </div>
                        @*<div class="product-buttons">
                                <button type="button" class="button-default cart-btn">Read More</button>
                            </div>*@
                    </div>
                </div>
            }
        </div>
    </div>
</div>