<div class="header-advance-area">
    <div class="header-top-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="header-top-wraper">
                        <div class="row">
                            <div class="col-lg-5  col-md-3 col-sm-4 col-xs-5 ">
                                <div class="menu-switcher-pro">
                                    <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                        @if (ViewBag.IsTorneoActive == false )
                                        {
                                        <li class="nav-item">
                                            <a href='@Url.Action( "TorneoIndex", "Cliente")'  role="button" aria-expanded="true" class="nav-link dropdown-toggle">
                                                <span class="admin-name">Noticias</span>
                                            </a>
                                        </li>

                                        }
                                        else
                                        {
                                        <li class="nav-item">
                                            <a href='@Url.Action( "TorneoIndex", "Cliente")' role="button" aria-expanded="true" class="nav-link dropdown-toggle">
                                                <span class="admin-name">Noticias</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                <span class="admin-name">Resultados</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                <span class="admin-name">Calendario</span>
                                            </a>
                                        </li>
                                        <li class="nav-item dropdown res-dis-nn ">
                                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="true" class="nav-link dropdown-toggle">+</a>
                                            <div role="menu" class="dropdown-menu animated zoomIn">
                                                <a href="#" class="dropdown-item">Clasificacion</a>
                                                <a href="#" class="dropdown-item">Estadisticas</a><br>
                                                <a href='@Url.Action( "Equipo", "Cliente")' class="dropdown-item">Equipos - Jugadores</a><br>
                                                
                                            </div>
                                        </li>

                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-7 col-sm-offset-5 col-sm-5">
                                <div class="header-right-info">
                                    <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                        <li class="nav-item">
                                            <a href="@Url.Action("LogIn", "Account")" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                <span class="admin-name">Iniciar Sesión</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
</div>


